.root{
	-fx-background-color: #212931;
}

#leftVBox{
	-fx-background-color: #151b23;
}

.label{
	-fx-text-fill: #c9d4da;
}

.text{
	-fx-fill: #c9d4da;
}

.button{
	-fx-background-color: #151b23;
	-fx-text-fill: #c9d4da;
}

#dashboardButton{
	-fx-background-color: #5439e1;
}

#topHBox{
	-fx-background-color: #151b23;
}

#searchField{
	-fx-background-color: #c9d4da;
	-fx-background-radius: 100;
	-fx-text-fill: #151b23;
	-fx-prompt-text-fill: #7d878e;
}

#totalVBox{
	-fx-background-color: #5439e1;
	-fx-background-radius: 15;
}

#completedVBox{
	-fx-background-color: #5439e1;
	-fx-background-radius: 15;
}

#delayedVBox{
	-fx-background-color: #5439e1;
	-fx-background-radius: 15;
}

#inAWeekVBox{
	-fx-background-color: #5439e1;
	-fx-background-radius: 15;
}

.tab-header-background {
	-fx-background-color: #151b23;
}

.tab{
	-fx-background-color: #151b23;
	-fx-focus-color: transparent;
}

.tab-label{
	-fx-text-fill: #c9d4da;
	-fx-font-size: 14px;
}

.tab:selected {
    -fx-background-color: #212931;
    -fx-border-color: #5439e1;
    -fx-border-width: 0 0 3px 0;
    -fx-border-style: solid;
}

.scroll-pane {
    -fx-background: #212931;
	-fx-border-color: #151b23;
}

.list-view {
	-fx-background-color: #212931;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #212931;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
    -fx-border-width: 0px;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#151b23;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.context-menu {
    -fx-background-color: #212931;
    -fx-border-width: 0px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 2);
}

.menu-item {
    -fx-text-fill: #c9d4da;
    -fx-font-size: 16px;
    -fx-padding: 8px 15px; /* Padding inside the menu item */
}

.menu-item:focused {
    -fx-background-color: #212931;
}

.menu-item:hover {
    -fx-background-color: #151b23;
    -fx-background-radius: 10px;
}

.menu-item .separator .line {
    -fx-border-color: #c9d4da; /* Change separator color */
    -fx-border-width: 0 0 1px 0; /* Only bottom border */
}

#newNotifItem{
	-fx-background-color: #212931;
}

#newNotifLabel, #oldNotifLabel:hover {
    -fx-background-color: #151b23;
}

#newNotifItem:hover{
	-fx-background-radius: 0px;
}

#oldNotifItem:hover {
	-fx-background-color: #212931;
}

#oldNotifLabel, #oldNotifItem{
	-fx-background-color: #151b23;
}

#deleteNotif {
	-fx-background-color: transparent;
}

/*
#tasksList {
	-fx-background-color: #5439e1;
}
*/
