.root{
	-fx-background-color: #212931;
}

.label{
	-fx-text-fill: #c9d4da;
}

#title{
	-fx-font-size: 32px;
}

#desc{
	-fx-font-size: 16px;
}
#desc2{
	-fx-font-size: 16px;
}

.button{
	-fx-background-color: #151b23;
	-fx-text-fill: #c9d4da;
	-fx-font-size: 16px;
	-fx-padding: 5px 20px;
}